<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="root" class="container">
        <div class="navbar">
            <img src="img/Netflix-logo.png" alt="">
            <div action="">
                <input type="text" v-model="inputUser" @keyup.enter="call">
                <button @click="call" >Cerca</button>
            </div>                     
        </div>

        <div class="card-list">
            <ul>
                <li class="card" v-for="film in films">
                    <h1>{{ film.title }}</h1>
                    <img alt="">
                    <p>{{ film.original_title }}</p>
                    <p>{{ film.original_language }}</p>
                    <p>{{ film.vote_average }}</p>
                </li>
            </ul>
        </div>
    </div>
    

    <script src="js/main.js"></script>
</body>
</html>